/* CSS declarations go here */
.map circle {
    stroke-width: 20px;
    stroke-dasharray: 9, 5;
    stroke-opacity: .8;
    stroke: white;
}

.selected {
    background-color: yellow;
}

body {
	background-color: #000;
}